/*#region global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

:root{
  --cor-de-icone:#774A07;

}
/*#endregion*/

/*#region body*/


body {
    font-family: Arial, Helvetica, sans-serif;

}

/*#endregion*/

/*#region topo*/

.site .topo {}

.site .topo .lado_a_lado {
    display: flex;
    justify-content: space-between;
}

.site .topo .lado_a_lado .tel_topo {
    display: flex;

}


/*#endregion*/

/*#region hearder*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.logo img {
    height: 100px;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}


nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px 15px;
}

.fa-whatsapp {
    font-size: 20pt;
    color: var(--cor-de-icone);
    margin-left: 10px;
    
}

.Entre-em-contato{
    border: 2px solid #333;
    padding: 0px ;
    border-radius: 25px;
    display: inline-block

    

}
/*#endregion*/