/*#region global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

:root {
    --cor-de-icone: #774A07;
    --cor-da-letrapreco: #101010;
    --cor-da-letra-produto: #FFFFFF;
    --cor-do-fundo-produtos: #D4D4D4;
    --cor-do-fundo-da-borda: #BCA078;
    --cor-da-letras: #9B7235;
    --cor-de-fundo: #D4D4D4;
    --fonte-kameron: "Kameron";

}

@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');

/*#endregion*/

/*#region body*/


body {
    font-family: Arial, Helvetica, sans-serif;

}

/*#endregion*/

/*#region topo*/

.site .topo .lado_a_lado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.site .topo .lado_a_lado .tel_topo {
    display: flex;

}


.site .topo .lado_a_lado .tel_topo .fa-phone {
    margin-right: 10px;
}

.site .topo .lado_a_lado .lupa_sacola .fa-magnifying-glass {

    margin-right: 40px;
    font-size: 20pt;
    color: var(--cor-de-icone);
}

.site .topo .lado_a_lado .lupa_sacola .fa-bag-shopping {
    font-size: 20pt;
    color: var(--cor-de-icone);
}


/*#endregion*/

/*#region hearder*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.logo img {
    height: 100px;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}


nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px 15px;
}

.fa-whatsapp {
    font-size: 20pt;
    color: var(--cor-de-icone);
    margin-left: 10px;

}

.Entre-em-contato {
    border: 2px solid #333;
    padding: 0px;
    border-radius: 25px;
    display: inline-block
}

/*#endregion*/

/*#region produtos*/

.sugeridos {

    & .carrossel1 {

        & .Produtos {
            text-align: center;
            margin-top: 20px;
            color: var(--cor-de-icone);

            & .Imgaens-produtos {
                display: flex;
                justify-content: center;
                gap: 100px;

                & figure {
                    width: 200%;
                    height: auto;
                }

                & img {
                    width: 50%;
                    height: auto;
                }

                & figcaption {
                    margin-top: 10px;
                    font-size: 10px;
                    font-weight: bold;
                    color: var(--cor-de-icone);

                }
            }

            .Preco {
                margin-top: 5px;
                font-size: 18px;
                font-weight: bold;
                color: var(--cor-da-letrapreco);

                & button {
                    display: inline-block;
                    padding: 10px 20px;
                    font-size: 14px;
                    font-weight: bold;
                    color: rgb(252, 250, 250);
                    text-decoration: none;
                    border: 2px solid #BCA078;
                    border-radius: 30px;
                    /* Arredonda as bordas */
                    background: var(--cor-do-fundo-da-borda);
                    cursor: pointer;
                    transition: 0.3s;
                }
            }
        }
    }
}

/*#endregion*/

/*#region pele perfeita*/

.pele-perfeita {

    background-color: var(--cor-de-fundo);
    padding-right: 225px;

    & .site {

        & .container {
            display: flex;
            padding: 20px;
            width: auto;





            & .texto {

                padding-right: 30px;




                & h3 {
                    font-size: 15px;
                    color: var(--cor-da-letrapreco);
                    margin-bottom: 50px;
                    margin-top: 50px;



                }

                & h2 {
                    font-size: 29px;
                    margin-bottom: 10px;
                    line-height: 1.4;
                    margin-top: 10px;

                }

                & p {
                    font-size: 16px;
                    color: #555;
                    margin-bottom: 20px;
                    margin-top: 50px;

                }

                & button {
                    display: inline-block;
                    padding: 10px 20px;
                    font-size: 14px;
                    font-weight: bold;
                    color: black;
                    text-decoration: none;
                    border: 2px solid black;
                    border-radius: 30px;
                    /* Arredonda as bordas */
                    background: transparent;
                    cursor: pointer;
                    transition: 0.3s;
                    margin-top: 30px;

                }

            }

            & .container-antes-depois {
                display: flex;
                justify-content: space-between;
                /* Espaço entre as imagens */
                align-items: center;
                /* Alinhar verticalmente */


                & .before_image,
                .after_image {
                    flex: 1;
                    text-align: center;

                }


                & .before_image img,
                .after_image img {
                    width: 80%;
                    height: auto;

                }
            }
        }
    }
}














/*#endregion*/

/*#region nosso segredo*/

.container2 {

    & .site {

        & .container-nosso-segredo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
            text-align: center;

            & .texto-pele {

                & h3 {
                    font-size: 24px;
                    color: #101010;

                }

                & h1 {
                    font-size: 35px;
                    font-family: var(--fonte-kameron);
                    color: var(--cor-da-letras)
                }
            }
        }

        .pele-com-aparencia-mais-jovem {
            padding: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .texto-box {
                display: flex;
                gap: 100px;



                & .primeiro,
                .meio,
                .final {
                    color: #5f5f5f;

                    & h3 {}

                    & h4 {
                        color: #1B1B1B;
                        margin-top: 20px;
                    }
                }

                .linha-vertical {
                    width: 2px;
                    height: 200px;
                    background-color: #c4b7a6;
                    margin: 0 20px;



                }

            }
        }
    }
}






/*#endregion*/

/*#region carrossel*/

.carrossel-container {
    background: #F4F4F4;
    padding: 30px;



    & .site {

        & h4 {
            text-align: center;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: #4A4A4A;
        }

        & h2 {
            text-align: center;
            color: var(--cor-da-letras);
            font-family: var(--fonte-kameron);
            text-transform: uppercase;
            margin-bottom: 45px;
            font-size: 40px;
            font-weight: 400;
        }

        & .carrossel {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            overflow: hidden;

            & .slides {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                transition: transform 0.5s ease;


                & .slide1,
                & .slide2,
                & .slide3 {

                    flex: 1 0 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & h3 {
                        color: var(--cor-da-letras);
                        margin-bottom: 5px;
                        font-size: 25pt;
                        margin-top: 20px;
                    }

                    & p {
                        margin-bottom: 30px;
                        font-size: 17px;
                    }
                }
            }
        }
    }

    & .dots {
        margin-top: 10px;
        text-align: center;

        & .dot {
            height: 12px;
            width: 12px;
            margin: 0 5px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        & .dot.active {
            background: var(--cor-da-letras)
        }

    }
}

/*#endregion*/

/*#region Felicidade*/

.Felicidade {
    margin: 10px 0;
    margin-top: 50px;

    & .site {
        & .contexto {
            text-align: center;

            & h1 {
                padding: 15px;
                color: var(--cor-de-icone);
            }

            & h4 {}
        }

        & .Expert {
            margin: auto;
            margin-top: 50px;

            & img {
                width: 45%;
                padding-left: 20px;

            }


            & h3 {
                text-align: right;
                padding-right: 18%;
                position: relative;


                &::after {
                    content: "";
                    position: absolute;
                    left: 72%;
                    bottom: -5px;
                    width: 25%;
                    height: 2px;
                    background-color: black;
                    transform: translateX(-50%);


                }
            }



            & .icon {

                display: grid;
                grid-template-columns: 1fr 1fr;
                /* Duas colunas */
                grid-template-rows: auto auto auto;
                /* Duas linhas */
                gap: 200px;
                /* Espaçamento entre os ícones */
                justify-items: center;
                align-items: center;
                width: 200px;
                /* Ajuste conforme necessário */
             
                margin-top: 40px;
                padding-left: 16%;

                & button {
                    grid-column: span 2;
                    position: relative;
                    top: -400px;
                }

                & img {
                    width: 70px;
                }

            }

        }

    }

}

/*#endregion*/

/*#region Descende*/
.desvende {
    padding: 40px 0;
    text-align: center;

    & .site {
        background: #7474741f;

        & .tendecias {

            & h4 {
                font-size: 18px;
                color: #444;


            }

            & h1 {
                font-size: 26px;
                color: #9B7235;
                margin-bottom: 30px;
            }
        }

        .produtos {

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* 3 colunas */
            gap: 30px;
            justify-items: center;
            /* centraliza cada imagem dentro da célula */
            max-width: 800px;
            margin: 0 auto;

            & img {
                width: 170px;
                height: auto;
                object-fit: contain;

            }

            & .produto1,
            .produto2,
            .produto3,
            .produto4,
            .produto5,
            .produto6 {
                background: rgb(253, 253, 253);

            }
        }

    }
}
/*#endregion*/

/*#region noticias*/
.Noticias {

    & .site {

        & .ultimas {
            text-align: center;

            & h5 {
                margin-bottom: 5px;
            }

            & h2 {}
        }


        & .cards-container {
            display: flex;
            gap: 30px;
            justify-content: center;
            flex-wrap: wrap;



            & .card {
                margin-top: 20px;
                display: flex;
                background-color: #f7f7f7;
                border-radius: 15px;
                overflow: hidden;
                width: 600px;
                box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
                transition: transform 0.3s ease;
                background: var(--cor-de-fundo);

                & img {
                    width: 220px;
                    object-fit: cover;
                }
            }
        }


        & .card:hover {
            transform: translateY(-5px);
        }



        & .card-content {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


        & .categoria {
            color: #555;
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        & .data {
            font-size: 0.75rem;
            color: #999;
            margin-bottom: 10px;
        }


        & .titulo {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        & .descricao {
            font-size: 0.9rem;
            color: #444;
            margin-bottom: 15px;
        }

        & .botao {
            align-self: flex-start;
            padding: 8px 16px;
            background-color: #000;
            color: #fff;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            font-size: 0.8rem;
            text-transform: uppercase;
            transition: background-color 0.3s ease;
        }

        & .botao:hover {
            background-color: #333;
        }
    }
}
/*#endregion*/

/*#region nosso-top*/
.Nosso-top {
    margin: auto;
    padding: 40px;
    background-color: #fff;

    & .site {

        & .galeria {
            max-width: 900px;
            margin: 0 auto;

            & h4 {
                font-size: 10px;
                padding-left: 2px;
            }

            & h2 {
                margin-bottom: 25px;
            }

            & .botao {
                border: 1px solid black;
                border-radius: 20px;
                padding: 5px 20px;
                font-size: 15px;
                background: white;
                cursor: pointer;
                float: right;
                margin-top: -60px;
            }


            & .produtos {
                display: flex;
                justify-content: center;
                gap: 150px;


                img {
                    width: 120px;
                    height: auto;
                }

            }

            & .lista-itens {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 40px;
                font-size: 16px;

                & div {
                    margin: 10px 15px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }



                & .barra {
                    color: #A06D24;
                    font-weight: bold;
                }

            }

        }
    }
}
/*#endregion*/

/*#region footer*/
.final {

    background-color: #f9f6f3;
    color: #333;
    padding: 20px;


    & .site {

        margin: auto;

        & .footer {
            margin: auto;

            & .info-bar {
                display: flex;
                justify-content: space-around;
                border-top: 3px solid #b1762c;
                border-bottom: 3px solid #b1762c;
                padding: 10px 0;
                font-weight: bold;

                & div {
                    .icon {
                        width: 20px;
                        margin-right: 8px;
                        vertical-align: middle;
                    }
                }
            }
        }

        & .footer-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 20px;

            & .col {
                flex: 1;
                min-width: 160px;
                margin: 10px;

                & img {
                    width: 60px;
                    height: 60px;
                }

                & .logo-text {
                    font-size: 20px;
                    font-weight: bold;
                    margin: auto;
                }


            }
        }

        & .menu {
            min-width: 120px;
            margin-top: 25px;
            text-align: center;


            & p {
                margin-top: 20px;
            }

            & h4{
                color: #b1762c;
            }
        }

        & .Marcas-Polulares {
            margin: 20px;
            text-align: center;



            & p {
                margin-top: 15px;
            }

            & h4 {
                margin-top: 3px;
                color: #b1762c;
            }


        }

        & .categoria {
            margin: 20px;
            text-align: center;

           

            & p {
                margin-top: 15px;
            }

            & h4 {
                margin-top: 3px;
                color: #b1762c;
            }
        }

        & .destaque {
           
            flex: 1;
            margin: 10px;

            & h4{
                color: #b1762c;
            }

            & input {
                padding: 5px;
                width: 80%;
                margin-top: 10px;
            }

            & button {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 18px;
                margin-left: -30px;
            }

            & .social-icons {


                & span {
                    font-size: 18px;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
        }

        & .footer-bottom {
            border-top: 2px solid #b1762c;
            margin-top: 20px;
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;





            & a {
                color: #b1762c;
                text-decoration: none;
            }

            & .payments {

                & img {
                    height: 25px;
                    margin-left: 10px;
                }
            }
        }

    }
}
/*#endregion*/












